
<!-- Grid System By Ng-zorro -->

<div nz-row nzJustify="center">
    <div nz-col [nzLg]="{ span: 8}" [nzSm]="{span: 20}" [nzXs]="{span: 24}">
        {{selectedDate | date:'dd/MM/YYYY'}}
        {{selectedValue}}
        <nz-input-group class="mb-3 d-block" nzAddOnAfterIcon="setting">
            <input type="text" placeholder="your name" nz-input/>
        </nz-input-group>

        <nz-select class="mb-3 d-block" [(ngModel)]="selectedValue" nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
            <nz-option *ngFor="let post of posts" [nzLabel]="post.title" [nzValue]="post.id"></nz-option>
        </nz-select>

        <nz-date-picker [(ngModel)]="selectedDate" class="mb-3 d-block"
        [nzDisabledDate]="disabledDate"></nz-date-picker>

        <nz-space [nzSize]="12" style="margin-bottom: 20px;">
            <button *nzSpaceItem nz-button nzType="primary" nzShape="round" (click)="notify()">
                <span nz-icon nzType="save"></span>
                Save
            </button>
            <button *nzSpaceItem nz-button nzShape="round" [nzType]="'primary'" (click)="showModal()">
                <span>Show Modal</span>
            </button>
        </nz-space>

        <nz-image class="d-block" nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png" nzWidth="200" nzHeight="200"></nz-image>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
    </ng-container>
</nz-modal>

<!-- Grid System By Bootstrap -->

<!--div class="conatiner">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <nz-input-group nzAddOnAfterIcon="setting" class="mb-3">
                <input type="text" placeholder="your name" nz-input/>
            </nz-input-group>

            <nz-select class="mb-3 d-block" [(ngModel)]="selectedValue" nzShowSearch nzAllowClear nzPlaceHolder="Select a person">
                <nz-option *ngFor="let post of posts" [nzLabel]="post.title" [nzValue]="post.id"></nz-option>
            </nz-select>

            <nz-date-picker [(ngModel)]="selectedDate" class="mb-3 d-block"
            [nzDisabledDate]="disabledDate"></nz-date-picker>
        </div>
    </div>
</div!-->